<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
  <div class="row">
  <div class="col-12">
    <div class="text-center">
    <div class="row mx-5 mt-3">
      <div class="col-12">
        <h2>Transaction</h2>
      </div>
    </div>
  </div>
    <div class="row mx-5 mt-3">
        <div class="col-12">
          <label>transaction title</label>
          <input class="form-control">
        </div>
      </div>
      <div class="row mx-5 mt-3">
          <div class="col-12">
            <label>transaction describe</label>
            <input class="form-control">
          </div>
        </div>
        <div class="row mx-5 mt-3">
            <div class="col-12">
              <label>amount</label>
              <input class="form-control">
            </div>
          </div>
          <div class="row mx-5 mt-3">
              <div class="col-12">
               <button class="btn w-100">Add</button>
              </div>
            </div>
  </div>
</div>
</div>
</div>
</div>