<div class="container-fluid">
    <div class="row my-5">
      <div class="col-md-4 offset-md-4" style="border: solid; border-color: rgb(177,177,177); border-radius: 14px;">
        <div class="text-center">
            <h2 style="color: rgb(47, 235, 163)"><b>Create Account!</b></h2>
            <h2 style="color: red" *ngIf="serverError"><b>This Email exist!</b></h2>
        </div>
        <div class="row mx-5 mt-5" >
          <div class="col-12">
            <label>e-mail <span *ngIf="em.invalid && em.dirty">[Email required]</span></label>
            <input [(ngModel)]="email" #em="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" class="form-control w-100">
          </div>
        </div>
        <div class="row mx-5 my-3">
          <div class="col-12">
              <label>password <span *ngIf="pass.invalid && pass.dirty">[Minimum 4 characters, Maximum 16 characters]</span></label>
            <input [(ngModel)]="password" type="password" maxlength="16" minlength="4" #pass="ngModel" required class="form-control w-100">
          </div>
        </div>
        <div class="row mx-5 my-3">
            <div class="col-12">
                <label>re-password <span *ngIf="password != repassword && repass.dirty"> [passwords are different]</span></label>
              <input [(ngModel)]="repassword" type="password" #repass="ngModel" required  class="form-control w-100">
            </div>
          </div>
        <div class="row mx-5 my-3">
            <div class="col-12">
              <button class="btn w-100" [disabled]="em.invalid || pass.invalid || password != repassword" style="background-color: rgb(47, 235, 163)"  (click)="onRegister()">Sign Up</button>
            </div>
          </div>
          <div class="text-center">
          <div class="row mx-5 my-3">
              <div class="col-12">
                <a style="color: rgb(177,177,177); cursor: pointer" routerLink="/login">Back to login!</a>
              </div>
            </div>
            </div>
      </div>
    </div>
    </div>