/deep/ .page-item.active .page-link {
    border-color: rgb(47, 235, 163);
    background-color: rgb(47, 235, 163);
   
}

 /deep/ .page-link {
    color: rgb(47, 235, 163);
}

/deep/ .page-link:hover {
    color: rgb(151, 224, 196);
}

table { 
    width: 100%; 
    border-collapse: collapse; 
  }

  td, th { 
    padding: 6px; 
    text-align: left; 
  }

  @media 
only screen and (max-width: 900px),
(min-device-width: 900px) and (max-device-width: 1300px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr {  }
	
	td { 
		/* Behave  like a "row" */
		border: none;
        position: relative;
        border: 1px solid #ccc;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
}
