

<div class="container-fluid">
  <div class="row my-3">
      <div class="col-md-4 my-4 order-first"><div class="text-center">
          <p style="text-align: right"><b>incomes: {{incomesSum}}<span style="color: gold;">&#xf153;</span></b></p>
          <p style="text-align: right"><b>expenses: {{expensesSum}}<span style="color: gold;">&#xf153;</span></b></p>
      <hr>
      <h3 style="text-align: right"><b>account balance: {{balance}}<span style="color: gold;">&#xf153;</span></b></h3>
        </div></div>
    <div *ngIf="!isLoading"  class="col-md-4 my-4 order-last">
      <div class="text-center">
        <h1 style="color: rgb(47, 235, 163)"><b>Transaction list</b></h1>
        <div class="btn-group">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-outline-danger" ngbDropdownToggle>Show</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                  <button class="dropdown-item" (click)="onFilterChoose(1)">All</button>
                  <div class="dropdown-divider"></div>
                <button class="dropdown-item" (click)="onFilterChoose(2)">Incomes</button>
                <button class="dropdown-item" (click)="onFilterChoose(3)">Expenses</button>
              </div>
            </div>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-outline-success" ngbDropdownToggle>Sort</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">//TODO implement this.</button>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-4 my-4 order-md-last"><div class="text-center">
      <h1 ><span routerLink="/add" style="cursor: pointer" class="mx-5">&#xf0fe; </span><span style="cursor: pointer" routerLink="/charts">&#xf080;</span></h1>
    </div></div>
  </div>

  <div *ngIf="transactions.length == 0" class="row">
    <div class="col-12">
    <div class="text-center">
   <h1>You have no transactions click <span routerLink="/add" style="color:rgb(47, 235, 163); cursor: pointer">here</span> to add some!</h1>
  </div>
  </div>
  </div>
  <div *ngIf="isLoading" class="row">
    <div class="col-12">
    <div class="text-center">
        <h1>Loading...</h1>
    </div>
  </div>
  </div>
    <div *ngIf="!isLoading" class="row">
      <div *ngFor="let trans of curretViewTransactions" class="col-md-8 offset-md-2 mt-5" style="border: solid; border-color: rgb(177,177,177); border-radius: 14px;">
        <div class="row mx-2">
          <div class="col-12">
    
              <div class="text-center">
                  <table style="width:100%">
                      <tr>
                        <td><h2 class="colored m-auto" style="color: rgb(47, 235, 163)"><span ngbPopover="Income" triggers="mouseenter:mouseleave" *ngIf="trans.flag">&#xf067;</span><span style="color: red" ngbPopover="Expense" triggers="mouseenter:mouseleave" *ngIf="!trans.flag">&#xf068;</span></h2></td>
                        <td><h2 class="colored m-auto">{{trans.price}} <span style="color: gold;">&#xf153;</span></h2></td>
                        <td><h2 class="colored m-auto">{{trans.cathegory}}</h2></td>
                        <td><h4 class="colored m-auto">{{trans.date | date}}</h4></td>
                        <td><h2 class="colored m-auto"><span ngbPopover="{{trans.info}}" popoverTitle="Transaction info" triggers="mouseenter:mouseleave" style="color: rgb(47, 235, 163)">&#xf05a;</span><span (click)="repeatTransaction(trans)" ngbPopover="Repeat transaction." triggers="mouseenter:mouseleave" style="cursor: pointer" class="mx-3">&#xf01e;</span></h2></td>
                        <td><h2 class="colored m-auto"><span (click)="onDelete(trans.id)"ngbPopover="Delete" triggers="mouseenter:mouseleave" style="color: red; cursor: pointer">&#xf00d;</span></h2></td>
                      </tr>
                    </table> 
                </div>
          
        </div>
          </div>
        </div>
        <div *ngIf="!isLoading"  class="col-12 mt-5">
            <div class="text-center">
                <ngb-pagination class="d-flex justify-content-center" [collectionSize]="pagesNumber" (pageChange)="onPageChange($event)" [(page)]="page"></ngb-pagination>
            </div>
        </div>

        
  </div>
  </div>