

<div class="container-fluid">
  <div class="row my-3">
    <div class="col-12">
      <div class="text-center">
        <h1 style="color: rgb(47, 235, 163)"><b>Transaction list</b></h1>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-5" style="border: solid; border-color: rgb(177,177,177); border-radius: 14px;">
        <div class="row mx-2">
          <div class="col-12">
              <div class="text-center">
                  <table style="width:100%">
                      <tr>
                        <td><h2 class="colored m-auto" style="color: rgb(47, 235, 163)">&#xf067;</h2></td>
                        <td><h2 class="colored m-auto">34.43zł</h2></td>
                        <td><h2 class="colored m-auto">food</h2></td>
                        <td><h4 class="colored m-auto">12/05/2302</h4></td>
                        <td><h2 class="colored m-auto"><span style="color: rgb(47, 235, 163)">&#xf05a;</span><span class="mx-3">&#xf01e;</span></h2></td>
                        <td><h2 class="colored m-auto"><span style="color: red">&#xf00d;</span></h2></td>
                      </tr>
                    </table> 
                </div>
          </div>
          </div>
        </div>
  </div>
  </div>